@font-face {
    font-family: 'mgen_1mnregular';
    src:url('/WebFonts/mgenplus-1mn-regular-webfont-t.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.hljs {
    background: #fcfcfc;
    font-family: "mgen_1mnregular";
    padding: 0.25em;
    border: 3px dotted;
    border-color: #f5f5f5;
}
